{% load static %}

{% if page_obj.has_other_pages %}
<div class="pagination">
        <!--Кнопка назад-->
        {% if page_obj.has_previous %}
                   <div class="paginator-next">
                           <a href="?page={{ page_obj.previous_page_number }}">
                           ПРЕДЫДУЩАЯ СТРАНИЦА
                       </a>
                   </div>
    {% else %}
                   <div class="paginator-next paginator-next-gree">
                           <a>
                           <strike>ПРЕДЫДУЩАЯ СТРАНИЦА</strike>
                       </a>
                   </div>

        <!--Оформление нумерации-->
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <div class="paginator-counter">
            <span class="paginator-number">{{ p }}</span>
        <div class="background images-paginator">
            <img src="{% static 'images/menu/pizza-paginator.svg' %}" alt="">
        </div>

        {% if page_obj.paginator.num_pages %}
        <span class="paginator-number">{{page_obj.paginator.num_pages}}</span>
        {% endif %}
</div>
        {% endif %}
        {% endfor %}
        <!--Кнопка вперёд-->
        {% if page_obj.has_next %}

        <div class="paginator-next">
            <a href="?page={{ page_obj.next_page_number }}">
                СЛЕДУЮЩАЯ СТРАНИЦА
            </a>
        </div>
    {% else %}
            <div class="paginator-next">
            <a>
                <strike>СЛЕДУЮЩАЯ СТРАНИЦА</strike>
            </a>
        </div>
{% endif %}
</div>
{% endif %}
